<mat-toolbar color="primary" class="upper-nav">
  <span>Today's Workout</span>
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>calendar_month</mat-icon>
      <span>Calendar</span>
    </button>
    <button mat-menu-item>
      <mat-icon>add</mat-icon>
      <span>Add Workout</span>
    </button>
    <button mat-menu-item>
      <mat-icon>insights</mat-icon>
      <span>Progress</span>
    </button>
  </mat-menu>
</mat-toolbar>
<section class="workout-container">
  <router-outlet></router-outlet>
  <div class="workout">
    <span class="workout-title">LIFT</span>
    <table
      mat-table
      [dataSource]="liftTableConfig.dataSource"
      class="mat-elevation-z8 workout-table"
    >
      <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

      <!-- Exercise Column -->
      <ng-container matColumnDef="exercise">
        <th mat-header-cell *matHeaderCellDef>Exercise</th>
        <td mat-cell *matCellDef="let element">{{ element.exercise }}</td>
      </ng-container>

      <!-- Sets Column -->
      <ng-container matColumnDef="sets">
        <th mat-header-cell *matHeaderCellDef>Sets</th>
        <td mat-cell *matCellDef="let element">{{ element.sets }}</td>
      </ng-container>

      <!-- Reps Column -->
      <ng-container matColumnDef="reps">
        <th mat-header-cell *matHeaderCellDef>Reps</th>
        <td mat-cell *matCellDef="let element">{{ element.reps }}</td>
      </ng-container>

      <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary">Update</button>
        </td>
      </ng-container>
      <tr
        mat-header-row
        *matHeaderRowDef="liftTableConfig.displayedColumns"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: liftTableConfig.displayedColumns"
      ></tr>
    </table>
  </div>
  <div class="workout">
    <span class="workout-title">CARDIO</span>
    <table
      mat-table
      [dataSource]="cardioTableConfig.dataSource"
      class="mat-elevation-z8 workout-table"
    >
      <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

      <!-- Exercise Column -->
      <ng-container matColumnDef="exercise">
        <th mat-header-cell *matHeaderCellDef>Exercise</th>
        <td mat-cell *matCellDef="let element">{{ element.exercise }}</td>
      </ng-container>

      <!-- Sets Column -->
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef>time</th>
        <td mat-cell *matCellDef="let element">{{ element.time }}</td>
      </ng-container>

      <!-- Reps Column -->
      <ng-container matColumnDef="distance">
        <th mat-header-cell *matHeaderCellDef>Distance</th>
        <td mat-cell *matCellDef="let element">{{ element.distance }}</td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="cardioTableConfig.displayedColumns"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: cardioTableConfig.displayedColumns"
      ></tr>
    </table>
    <div class="workout-action">
      <button mat-raised-button color="primary" class="workout-action-button">
        Update Weight
      </button>
      <button mat-raised-button color="primary" class="workout-action-button">
        Edit Exercises
      </button>
    </div>
  </div>
</section>
<app-footer></app-footer>
